<section class="benefits section-offset">
    <div class="container">
      <h2 class="benefits__title section-title">Что дают курсы программирования для детей?</h2>
      <ul class="list-reset benefits__list">
        <li class="benefits__item">
          <h3 class="benefits__subtitle">Время препровождение.</h3>
          <p class="benefits__descr">
            Программирование через игру и интересные задания очень затягивает. Оно сможет заменить ребенку бессмысленный серфинг в интернете, геймерство, сформирует правильный круг общения.
          </p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__subtitle">Бонусы при поступлении.</h3>
          <p class="benefits__descr">
            Ребенок, который учился программированию имеет больше шансов успешно сдать ЕГЭ, заработать баллы на олимпиаде. Многие онлайн школы сотрудничают с ВУЗами, поэтому выпускники имеют больше информации, чтобы успешно пройти вступительную кампанию.
          </p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__subtitle">Бонусы при учебе.</h3>
          <p class="benefits__descr">
            То, что некоторые студенты будут только начинать изучать, ваш ребенок будет уже уметь применять на практике. Поэтому обучение будет продуктивнее и легче.
          </p>
        </li>
        <li class="benefits__item">
          <h3 class="benefits__subtitle">
            Знания
            <span class="tooltip">
              <button class="btn-reset tooltip__btn" aria-describedby="id1">
                <svg class="">
                  <use xlink:href="img/sprite.svg#tooltip-icon"></use>
                </svg>
              </button>
              <span class="tooltip__txt" role="tooltip" id="id1">
                <span class="visually-hidden">Тултип: </span>
                Начинать обучение программированию можно уже с 5-6 лет
              </span>
            </span>
          </h3>
          <p class="benefits__descr">
            — ребенок изучает языки программирования и узнает, как их применить для решения конкретных задач. Благодаря программированию дети усваивают законы логики, принципы планирования и алгоритмизации. Это поможет и в других учебных дисциплинах.
          </p>
        </li>
      </ul>
    </div>
  </section>