<section class="course section-offset " id="course">
    <div class="container">
        <h2 class="section-title course__title">Выберите нужный курс</h2>
        <div class="course__age">
            <button class="btn-reset course__btn" type="button" data-filter="all">Все</button>
            <button class="btn-reset course__btn" type="button" data-filter=".seven">с 7 лет</button>
            <button class="btn-reset course__btn" type="button" data-filter=".nine">с 9 лет</button>
            <button class="btn-reset course__btn" type="button" data-filter=".ten">с 10 лет</button>
            <button class="btn-reset course__btn" type="button" data-filter=".twelve">с 12 лет</button>
        </div>
        <ul class="list-reset course__list containers">
            <li class="course__item course__item--current mix seven" data-order="1">
                <img src="img/dlyasamykhmal2_min.png" alt="">
                <h3 class="course__subtitle">Юный программист</h3>
                <p class="course__descr">
                    Развиваем логико-алгометрическое и математическое мышление у детей на базе изучения языков программирования ScratchJr, Scratch и Minecraft.
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix seven" data-order="2">
                <img src="img/kerbal_min.png" alt="">
                <h3 class="course__subtitle">Компьютерная грамотность</h3>
                <p class="course__descr">
                    Обучение участников курса свободному владению компьютером на уровне уверенного пользователя для использования полученных знаний в своей повседневной жизни.
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix seven" data-order="3">
                <img src="img/Prevyu-Sketching-415x300-72ppi.png" alt="">
                <h3 class="course__subtitle">Scratch</h3>
                <p class="course__descr">
                    Простой и доступный всем в использовании язык программирования. Ребенок сможет создать свои первые игры и анимации под руководством нашего опытного тренера
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix nine" data-order="4">
                <img src="img/Prevyu-Tinkercad-415x300-72ppi_min.png" alt="">
                <h3 class="course__subtitle">Minecraft</h3>
                <p class="course__descr">
                    Научим решать задачи по программированию, строить логические цепочки действий, конструировать 3D-миры из кубиков
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix ten" data-order="5">
                <img src="img/PLASHKA-2.02_min.png" alt="">
                <h3 class="course__subtitle">Робототехника</h3>
                <p class="course__descr">
                    Научим создавать роботов и управлять ими. Прокачаем инженерные навыки, изучим схемотехнику, улучшим знания по физике, математике и программированию.
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix ten" data-order="6">
                <img src="img/vebdiz12_min.png" alt="">
                <h3 class="course__subtitle">Web-программирование</h3>
                <p class="course__descr">
                    Web-программирование для детей —Познакомим ребенка с основами web-разработки, научим создавать сайты, приложения при помощи HTML разметки, стилей CSS и языка программирования JavaScript.
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix ten" data-order="7">
                <img src="img/Prevyu-Unity-3D-415x300-72ppi-2.0.png" alt="">
                <h3 class="course__subtitle">Unity </h3>
                <p class="course__descr">
                    Научим ребенка создавать игры разной сложности в Unity и писать чистый грамотный код на языке C#
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix ten" data-order="8">
                <img src="img/PLASHKAmach_min.png" alt="">
                <h3 class="course__subtitle">Python </h3>
                <p class="course__descr">
                    Научим писать код, разрабатывать программы, создавать игры и сайты, составлять алгоритмы на одном из самых популярных языков программирования.
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix ten" data-order="8">
                <img src="img/Prevyu-Roblox-Studio-415x300-72ppi.png" alt="">
                <h3 class="course__subtitle">Python:Pygame</h3>
                <p class="course__descr">
                    По окончанию курса учащиеся научатся создавать двумерные игры на языке Python и создадут такие игры как Dino Chrome, Flappy Bird, Doodle Jump и Space Invaders (и ещё несколько – опционально).
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix twelve" data-order="9">
                <img src="img/ios5_min.png" alt="">
                <h3 class="course__subtitle">Java</h3>
                <p class="course__descr">
                    Одно из самых популярных направлений Java - это Android приложения. Если у вас телефон на Android, то все приложения в нём написаны на Java с использованием других технологий.
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix seven" data-order="10">
                <img src="img/Prevyu-Robowin-415x300-72ppi.png" alt="">
                <h3 class="course__subtitle">3D-моделирование</h3>
                <p class="course__descr">
                    Ваш ребенок научится создавать модели персонажей, городов, транспорта, игрового окружения, воплотит на экране свои идеи и фантазии.
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
            <li class="course__item course__item--current mix nine" data-order="11">
                <img src="img/PLASHKA23_min.png" alt="">
                <h3 class="course__subtitle">Компьютерная графика</h3>
                <p class="course__descr">
                    Компьютерная графика в Айтигенио —
                    Поможем воплотить идеи ребенка в реальность, научим обрабатывать фотографии, составлять коллажи, создавать дизайн сайтов, баннеров, логотипов и других рекламных объектов.
                </p>
                <button class="btn-reset btn course__btn" data-graph-path="form-1">Записаться на пробное занятие</button>
            </li>
        </ul>
    </div>
</section>