<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <img loading="lazy" src="img/trainer-1.jpg" class="image" width="160" height="222" alt="Казаков Илья">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Казаков Илья</div>
          <div class="popup__post">Маэстро курсов Junior</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs1" data-tabs="popup_1">
          <div class="tabs__menu">
            <ul class="list-reset tabs__nav">
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Немного о себе</button>
              </li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">Московский государственный университет им. Ломоносова, Физический факультет, Кафедра квантовой статистики и теории поля, аспирантура кафедры теоретической физики.</p>
                  <p class="popup__text">Регулярно участвую в работе ежегодных конференций ИТО-Москва-Троицк, участник Первого Всероссийского съезда Учителей Информатики в 2011 году и многих других.</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">С 1996 по 2012 работал ведущим инженером в Центральном Научно-Исследовательском Институте Российского Космического Агентства, является соавтором большого числа научных работ, Российских и Международных патентов</p>
                  <p class="popup__text">С 1996 года работал в МБОУ «Лицей №23» ГО Мытищи – учителем информатики, заместителем директора по Учебно-информационной работе. Соавтор задач школьного этапа Всероссийской олимпиады школьников по информатике</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text"> Я уже 5 лет преподаю детям и обожаю это дело. Имею технический склад ума. В преподавании придерживаюсь принципов гуманизма и считаю педагогику очень интересной и многогранной наукой. Активно изучаю труды великих преподавателей (Януш Корчак, Жан Пиаже, Василий Сухомлинский, Лев Выготский и др), внедряя в образовательные методики их лучшие идеи. Создаю на своих занятиях дружелюбную и лёгкую атмосферу, позволяя раскрыться каждому ученику. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-2">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <img loading="lazy" src="img/trainer-2.jpg" class="image" width="160" height="222" alt="Марина Орлова">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Марина Орлова</div>
          <div class="popup__post">Маэстро курсов Python C++ Junior</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs2" data-tabs="popup_2">
          <div class="tabs__menu">
            <ul class="list-reset tabs__nav">
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Немного о себе</button>
              </li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">
                    Московский государственный университет им. Ломоносова, факультет вычислительной математики и кибернетики (ВМК МГУ).
                  </p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">В Школе программистов работает с 2016 года</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">Я бесконечно верю во всех людей. Я верю, что каждый из вас не боится глубин, летает во сне, светится надеждой в темноте и не имеет краев у океана фантазии. Я с удовольствием протяну вам руку, чтобы стать рядом в ваших творческих планах, робких надеждах, заветных фантазиях и трудах постоянного обучения. Если вам кажется, что никто в вас не верит, то знайте – я верю.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-3">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <img loading="lazy" src="img/trainer-3.jpg" class="image" width="160" height="222" alt="Казаков Илья">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Максим Петров</div>
          <div class="popup__post">Маэстро курсов WEB-дизайн</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs3" data-tabs="popup_3">
          <div class="tabs__menu">
            <ul class="list-reset tabs__nav">
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Немного о себе</button>
              </li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">
                    «Российский университет траснпорта (МИИТ)» г.Москва. Инноватика.
                  </p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">Работает в Школе программистов с сентября 2015 года</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">На данный момент я являюсь студентом 3 курса Московского Государственного Университета Путей Сообщения. Несмотря на то, что специальность, получаемая мной в университете, мало связана с программированием, часть своего свободного времени я уделяю на изучение современных информационных технологий, что бы оставаться «в тренде» :). Программирование – моё хобби, и на занятиях я с удовольствием делюсь своими знаниями с учениками.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-4">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <img loading="lazy" src="img/trainer-4.jpg" class="image" width="160" height="222" alt="ККонстантин Назаров">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Константин Назаров</div>
          <div class="popup__post">Маэстро курсов JAVr</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs4" data-tabs="popup_4">
          <div class="tabs__menu">
            <ul class="list-reset tabs__nav">
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Немного о себе</button>
              </li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">Московский авиационный институт (национальный исследовательский университет), Аэрокосмический факультет, Космические системы и ракетостроение (кафедра 601)</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">
                    С 2012 года проводил занятия по базовой компьютерной подготовке для младших школьников. С 2016 года занимается разработкой курсов по основам компьютерной грамотности.
                  </p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">Увлекаюсь инструментальной музыкой – как исполнением, так и теорией музыки,
                    астрономией, космическими исследованиями, цифровой фотографией.
                    Одной из главных задач преподавательской деятельности считаю воспитание широко образованной
                    подрастающей смены поколений – как в IT-сфере, так и в образовании в целом.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-5">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <img loading="lazy" src="img/trainer-5.jpg" class="image" width="160" height="222" alt="Лиза Весенняя">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Лиза Весенняя</div>
          <div class="popup__post">Маэстро курсов Python</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs5" data-tabs="popup_5">
          <div class="tabs__menu">
            <ul class="list-reset tabs__nav">
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Образование</button>
              </li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Опыт работы</button>
              </li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Немного о себе</button>
              </li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">Мордовский государственный университет им. Н.П. Огарева. Специальность "Инфокоммуникационные технологии и системы связи</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text"></p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__content">
                  <p class="popup__text">"Знать всё на свете нереально, но почему бы не попробовать".
                    Люблю учиться чему-то новому и делиться знаниями с другими, стараюсь изучать этот мир с разных сторон - будь то сфера IT, музыка или медицина. Питаю слабость к научно-популярной и художественной литературе. Также увлекаюсь настольными играми, теннисом, бегом и другими видами активного времяпровождения.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graph-modal__container popup form-popup" role="dialog" aria-modal="true" data-graph-target="form-1">
    <button class="btn-reset graph-modal__close" aria-label="Закрыть модальное окно">Закрыть</button>
      <form action="#" class="form-order form">
        <label class="form-order__label">
          <input type="text" name="Имя" class="input-reset form-order__input input-name" placeholder="Имя">
        </label>
        <label class="form-order__label">
          <input type="tel" name="Телефон" class="input-reset form-order__input input-tel tel-two" placeholder="Телефон">
        </label>
        <label class="form-order__label">
          <input type="email" name="E-mail" class="input-reset form-order__input input-email" placeholder="E-mail">
        </label>
        <button class="btn-reset btn btn--dark form-order__btn">Отправить</button>
      </form>
    </div>
</div>

