
<section class="tariffs section-offset" id="tariffs">
    <div class="container">
      <h2 class="section-title tariffs__title">Стоимость курсов</h2>
      <ul class="list-reset tariffs__list">
        <li class="tariffs__item">
          <h3 class="tariffs__subtitle">Занятие в группах онлайн</h3>
          <div class="tariffs__price">от 750 ₽/час</div>
          <p class="tariffs__descr">
            По будням и выходным
          </p>
          <a href="#order" class=" btn tariffs__btn" data-scroll>Оставить заявку</a>
        </li>
        <li class="tariffs__item">
          <h3 class="tariffs__subtitle">Занятие в группах офлайн</h3>
          <div class="tariffs__price">от 850 ₽/час</div>
          <p class="tariffs__descr">
            По выходным дням
          </p>
          <a href="#order" class=" btn tariffs__btn" data-scroll>Оставить заявку</a>
        </li>
        <li class="tariffs__item tariffs__item--current">
          <h3 class="tariffs__subtitle">Персональные онлайн занятия на дому</h3>
          <div class="tariffs__price">от 1050 ₽/час</div>
          <p class="tariffs__descr">
            Индивидуальное расписание
          </p>
          <a href="#order" class="btn tariffs__btn" data-scroll>Оставить заявку</a>
        </li>
      </ul>
    </div>
  </section>